header ul {
	list-style: none;
	display: inline;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;


}
header ul li {
	display: inline;
	color: white;
	text-decoration-style: bold;
	margin-right: 15px;
	text-align: left;






}
img {
	display: block;
	padding: 50px;
	margin: auto;
}
header ul li a {
	text-decoration: none;
	color:white;
	font-size: 15px;

}
header {
	background: grey;
	padding: 40px;
	margin: 0px;

}
h2 {
	text-align: center;
}
p {
	text-align: center;
}
p a {
	color:green;
}